@model Employee
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    
<div class="container card">
    <form method="post" class="form-container">
        <div>
            <h1>search Employee</h1>
        </div>
        <div class="mb-3 mt-3">
            <input asp-for="EmployeeID" type="number" name="EmployeeID"class="form-control" placeholder="Enter employee ID"/>
            
        </div>   
         <div class="mt-3">
            <a asp-controller="Admin" asp-action="searchEmployee">
                <button  class="btn btn-primary"> Submit </button>
            </a>
            
        </div>

    </form>
</div>
</body>

@section Scripts{

    <partial name ="_ValidationScriptsPartial"/>
}