@model IEnumerable<ComplaintsModel>
@{
    Layout = "_Layout";
}
<html>
<head>
    <title>View complaints </title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css">
    </head>
</head>
<body>
    <table class="table table-striped" style="margin:3em 0 0 6em">
    <tr>
        <th>ID</th>
        <th>Employee ID</th>
        <th>Complaints</th>
  
       
        

    </tr>
    
    @{
        foreach(var data in @Model)
        {
            <tr>
                <td>@data.id</td>
                <td>@data.employeeID</td>
                <td>@data.complaint</td>
                
            </tr>
            
        }
    }
</table>

</body>
</html>